
body {
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
}

#app {
    height: 100%;
    margin: 0;
}

@media (min-width: 800px) {
    #main {
        min-height: 100vh;
        width: 25%;
        float: left;
        padding: 24px;
        text-align: center;
        border-right: thick solid #e7e7e7;
    }

    #main-title {
        margin-top: 200px;
        font-size: 48px;
        padding: 12px;
        text-align: center;
        letter-spacing: 1px;
    }

    input {
        width: 70%;
        height: 32px;
        font-size: 12px;
        border: 0.5px solid #aaaaaa;
        border-radius: 20px;
        outline: none;
        padding-left: 10px;
        background-color: #e7e7e7;
        margin-bottom: 32px;
    }

    #side {
        height: 80%;
        width: 60%;
        float: right;
        padding: 16px;
        margin-right: 30px;
    }
}

@media (max-width: 800px) {
    #main {
        height: 30%;
        width: 100vw;
        padding: 24px;
        text-align: center;
        border-bottom: thick solid #e7e7e7;
    }

    #main-title {
        margin-top: 100px;
        font-size: 48px;
        padding: 12px;
        text-align: center;
        letter-spacing: 1px;
    }

    input {
        width: 70%;
        height: 32px;
        font-size: 12px;
        border: 0.5px solid #aaaaaa;
        border-radius: 20px;
        outline: none;
        padding-left: 10px;
        background-color: #e7e7e7;
        margin-bottom: 32px;
    }

    #side {
        width: 100vw;
        padding: 16px;
        margin-bottom: 30px;
    }

}

.link-tag {
    text-decoration: none;
    color: #393E46;
}

.main-desc {
    font-size: 11px;
    text-align: left;
    color: #aaaaaa;
    margin: auto;
}

#menu {
    height: 20%;
    padding: 8px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}

.menu-button {
    margin-right: 8px;
    border: none;
    color: #7cabb5;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: 1px;
}

.menu-button:hover {
    color: #000000;
    transition: 1s;
}

#board {
    margin: auto;
    margin-top: 35px;
    width: 100%;
}

.search-section {
    position: relative;
}

input {
    width: 70%;
    height: 32px;
    font-size: 12px;
    border: 0.5px solid #aaaaaa;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;
    background-color: #e7e7e7;
}

.search-icon {
    position: absolute;
    width: 20px;
    top: 8px;
    right: 17%;
    margin: 0;
}

.table-caption {
    margin-top: 8px;
    margin-bottom: 16px;
    text-align: right;
    letter-spacing: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

tbody {
    height: 400px;
    overflow: auto;
}

th,
td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:nth-child(odd) td {
  background: #ffffff;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
